Jinja2==2.9.5
Markdown==2.6.6
MarkupSafe==0.23
Pygments==2.1.3
Unidecode==0.04.19
argparse==1.2.1
blinker==1.4
docutils==0.12
feedgenerator==1.8
ghp-import==0.4.1
pelican==3.6.3
pelican-githubprojects==0.1.1
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
webassets==0.11.1
wsgiref==0.1.2
yuicompressor==2.4.8
