/*
  Icon Font: font-custom
*/

@font-face {
  font-family: "font-custom";
  src: url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.eot");
  src: url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.eot?#iefix") format("embedded-opentype"),
       url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.woff") format("woff"),
       url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.ttf") format("truetype"),
       url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.svg#font-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-custom";
    src: url("../font/font-custom_64f2650abb489bba9a3455059ec1e9f8.svg#font-custom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-arrow-up:before,
.fa-bitbucket:before,
.fa-calendar:before,
.fa-clock-o:before,
.fa-code-fork:before,
.fa-drupal:before,
.fa-external-link-square:before,
.fa-eye:before,
.fa-folder-open:before,
.fa-github:before,
.fa-tags:before,
.fa-th-list:before,
.fa-user:before {
  display: inline-block;
  font-family: "font-custom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-arrow-up:before { content: "\f100"; }
.fa-bitbucket:before { content: "\f101"; }
.fa-calendar:before { content: "\f102"; }
.fa-clock-o:before { content: "\f103"; }
.fa-code-fork:before { content: "\f104"; }
.fa-drupal:before { content: "\f105"; }
.fa-external-link-square:before { content: "\f106"; }
.fa-eye:before { content: "\f10d"; }
.fa-folder-open:before { content: "\f108"; }
.fa-github:before { content: "\f109"; }
.fa-tags:before { content: "\f10a"; }
.fa-th-list:before { content: "\f10b"; }
.fa-user:before { content: "\f10c"; }
